.navbar {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 2rem;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 100%;
	border-radius: 1rem;
	margin-bottom: 0.5rem;
}

.icon-theme {
	cursor: pointer;
}
