.navbar {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 100%;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.nav-logo {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.logo-img {
	width: 3rem;
	height: 3rem;
	margin-left: 0.3rem;
}

.dark-mode .navbar {
	background-color: #111322;
}

.icon-theme {
	cursor: pointer;
}
