body {
	margin: 0;
	font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #67748e;
	background-color: #f8f9fa;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body.dark-mode {
	color: hsla(0, 0%, 100%, 0.8);
	background-color: #1a2035;
}

a {
	letter-spacing: -0.025rem;
	color: #344767;
	text-decoration: none;
}

.dark-mode a {
	color: hsla(0, 0%, 100%, 0.8);
}

input {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.form-control {
	border-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	border-left-width: 1px;
}

.form-control {
	width: 30%;
	padding: 0.5rem 0.75rem;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.4rem;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #d2d6da;
	appearance: none;
	border-radius: 0.5rem;
	transition: box-shadow 0.15s ease, border-color 0.15s ease;
}

@media (prefers-reduced-motion: reduce) {
	.form-control {
		transition: none;
	}
}

.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #00cccc;
	outline: 0;
	box-shadow: 0 0 0 2px #50c878;
}

.form-control::-webkit-date-and-time-value {
	height: 1.4rem;
}

.form-control::placeholder {
	color: #adb5bd;
	opacity: 1;
}

.container {
	height: auto;
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	padding-top: 1.5rem;
}

.main-page {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

.main-section {
	width: 76.5%;
	height: 76vh;
	border-radius: 1rem;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 1rem;
}

.dark-mode .main-section {
	background-color: #111322;
}

.main-title {
	margin-top: 1rem;
	margin-bottom: 0;
}

.main-saldo {
	margin-top: 0.5rem;
	margin-bottom: 5rem;
}
