.form-transaction {
	width: 100%;
}

.title-form {
	margin: 1rem 0 0.5rem;
}

.input-form {
	--margin: 100px;
	width: calc(50% - var(--margin));
}

.btn-deposit {
	color: #fff;
	font-weight: 700;
	border-color: #50c878;
	background-color: #50c878;
	border-radius: 0.5rem;
	padding: 0.75rem;
	cursor: pointer;
	margin-left: 10px;
	width: 100px;
}

.btn-deposit:hover {
	color: #fff;
	background-color: #00693e;
	border-color: #00693e;
}

.btn-withdraw {
	color: #fff;
	font-weight: 700;
	border-color: #b31b1b;
	background-color: #b31b1b;
	border-radius: 0.5rem;
	padding: 0.75rem;
	cursor: pointer;
	margin-left: 10px;
	width: 100px;
}

.btn-withdraw:hover {
	color: #fff;
	background-color: #8b0000;
	border-color: #8b0000;
}

.amount-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding-left: 0;
	margin-bottom: 1rem;
	list-style: none;
	justify-content: flex-start;
	gap: 0.5rem;
}

.amount-item {
	padding: 0.5rem;
	border: 1px solid #dee2e6;
	width: 80px;
	border-radius: 0.5rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #344767;
}

.dark-mode .amount-item {
	color: #dee2e6;
}

.dark-mode .amount-item:hover {
	color: #344767;
}

.amount-item:hover {
	background-color: #dee2e6;
	color: #344767;
}

.amount-item.active {
	background-color: #dee2e6;
	color: #344767;
}

fieldset {
	border-radius: 0.5rem;
}
